body {
    height: 100%;
}
.container {
    max-width: 1000px;
    margin: auto;    
}
.group {
    width: 100%;
}
.group:after {
    content: "";
    clear: both;
    display: table;
}
.container {
    z-index: 1;
    background: trasparent;
    margin:auto;
}
@media screen and (max-width: 300px) {

}
@media (min-width: 301px) and (max-width: 600px) {

}
@media (min-width: 601px) {

}
/* typography */
p {
    font-size: 1em;
    line-height: 1.625em;
    margin-top: 0;
    margin-bottom: 1.125em;
    padding-top: 0.5em;
}
h1 {
    font-size: 2.5em;
    line-height: 0.65em;
    margin-bottom: 0.65em;
    margin-top: 0.65em;
    position: relative;
    /* top:-6px; */
}

/* demo/debug */
.demo {
    width:100%;
    background: #fff;
}
body {
    margin: 0;
}
.container {
    /*background: #ffd1dc;*/
}
.col-1-sm, .col-2-sm, .col-3-sm, .col-4-sm, .col-5-sm, .col-6-sm, .col-7-sm, .col-8-sm, .col-9-sm, .col-10-sm, .col-11-sm, .col-12-sm, .col-1-md, .col-2-md, .col-3-md, .col-4-md, .col-5-md, .col-6-md, .col-7-md, .col-8-md, .col-9-md, .col-10-md, .col-11-md, .col-12-md, .col-1-lg, .col-2-lg, .col-3-lg, .col-4-lg, .col-5-lg, .col-6-lg, .col-7-lg, .col-8-lg, .col-9-lg, .col-10-lg, .col-11-lg, .col-12-lg {
    float: left; 
}

/* demo/debug */

/* system styles */
.container {
    max-width: 1000px;
    margin: auto;
}
.group {
    width: 100%;
}
.group:after {
    content: "";
    clear: both;
    display: table;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding-right: 0.75em;
    padding-left: 0.75em;
}
.col-1-lg {
    width: 8.333%;
}
.col-2-lg {
    width: 16.666%;
}
.col-3-lg {
    width: 24.999%;
}
.col-4-lg {
    width: 33.333%;
}
.col-5-lg {
    width: 41.666%;
}
.col-6-lg {
    width: 49.999%;
}
.col-7-lg {
    width: 58.333%;
}
.col-8-lg {
    width: 66.666%;
}
.col-9-lg {
    width: 74.999%;
}
.col-10-lg {
    width: 83.333%;
}
.col-11-lg {
    width: 91.666%;
}
.col-12-lg {
    width: 100%;
}




.center {
    float: none;
    margin: auto;
}


.col-1-md {
    width: 8.333%;
}
.col-2-md {
    width: 16.666%;
}
.col-3-md {
    width: 24.999%;
}
.col-4-md {
    width: 33.333%;
}
.col-5-md {
    width: 41.666%;
}
.col-6-md {
    width: 49.999%;
}
.col-7-md {
    width: 58.333%;
}
.col-8-md {
    width: 66.666%;
}
.col-9-md {
    width: 74.999%;
}
.col-10-md {
    width: 83.333%;
}
.col-11-md {
    width: 91.666%;
}
.col-12-md {
    width: 100%;
}




.col-1-sm {
    width: 8.333%;
}
.col-2-sm {
    width: 16.666%;
}
.col-3-sm {
    width: 24.999%;
}
.col-4-sm {
    width: 33.333%;
}
.col-5-sm {
    width: 41.666%;
}
.col-6-sm {
    width: 49.999%;
}
.col-7-sm {
    width: 58.333%;
}
.col-8-sm {
    width: 66.666%;
}
.col-9-sm {
    width: 74.999%;
}
.col-10-sm {
    width: 83.333%;
}
.col-11-sm {
    width: 91.666%;
}
.col-12-sm {
    width: 100%;
}